@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  /* One Dark Color Scheme */
  --red: #e06c75;
  --green: #98c379;
  --yellow: #e5c07b;
  --blue: #61afef;
  --dark-blue: #1f435f;
  --purple: #c678dd;
  --cyan: #56b6c2;
  --white: #dcdfe4;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

h3 {
  font-size: 3rem;
  color: white;
  margin: 0.2rem 0;
  margin-bottom: 0.2rem;
  font-weight: 100;
}

.box {
  display: grid;
  grid-template-columns: auto auto auto;

  width: 80%;
  height: 70%;

  background-color: black;
  color: white;
  border: 5px solid var(--yellow);
  border-radius: 10px;
}

a {
  margin-top: 2rem;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: 0.3s;
  border: 5px solid var(--yellow);
  color: var(--yellow);
}
.square:hover {
  border: 5px solid white;
}

.modal {
  background-color: black;
  border: 5px solid var(--yellow);
  color: var(--yellow);
  font-size: 2rem;
  height: 10rem;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0.4rem;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 10px;
}

.reset {
  background-color: var(--yellow);
  color: black;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  margin-left: 0.8rem;
  border: none;
  border-radius: 10px;
  height: 2rem;
  width: 8rem;
  cursor: pointer;
}

.reset:hover {
  background-color: var(--white);
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  h3 {
    font-size: 1.3rem;
  }

  .box {
    height: 50%;
    border: 2px solid var(--yellow);
  }

  .square {
    border: 2px solid var(--yellow);
  }

  .modal {
    display: flex;
    flex-direction: column;
  }

  .hidden {
    display: none;
  }

  .message {
    font-size: 1.3rem;
  }
}
